<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit task</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>

    <div id="app">
        <div class="bg-[#f0f0e8] py-8">
            <div class="flex p-4 items-center">
                <ul class="text-sm flex-grow ml-12 font-bold space-x-8 flex">
                    <li><a href="../../student/pStudent/pStudent-dashboard.html">Dashboard</a></li>
                    <li><a href="#">Timetable</a></li>
                    <li><a href="../../student/pStudent/pStudent-Activity.html"><span class="border-b-4 border-orange-500">My Activities</span></a></li>
                    <li><a href="#">Event Calendar</a></li>
                </ul>
                <h1 id="studentClass" class="text-3xl font-bold mb-4 ml-auto pr-12">Class {{ studentClass }} Timetable
                </h1>
            </div>
        </div>
        <form @submit.prevent="submitCreateSubmissionForm" action="/uploads" method="post" enctype="multipart/form-data"
            class="w-full flex justify-center items-center">
            <div class="mb-6 mt-2 flex justify-center items-center">
                <div class="md:w-full">

                    <div class="flex flex-col mb-4">

                        <label for="submission.submissionName" class="block text-gray-500 font-bold  mb-1 md:mb-0 pr-4"
                            for="inline-full-name">Name:</label>
                        <input type="text" id="submission.submissionName" name="submission.submissionName"
                            v-model="submission.submissionName"
                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            required>
                    </div>

                    <div class="flex flex-col mb-4">

                        <label for="submission.Activity_ID" class="block text-gray-500 font-bold  mb-1 md:mb-0 pr-4"
                            for="inline-full-name"></label>
                        <input type="text" id="submission.Activity_ID" name="submission.Activity_ID"
                            v-model="submission.Activity_ID" class="border border-gray-300 rounded-md p-2" hidden>
                    </div>


                    <div class="flex flex-col mb-4">

                        <label for="submissionFile" class="block text-gray-500 font-bold  mb-1 md:mb-0 pr-4"
                            for="inline-full-name">Choose:</label>
                        <input type="file" id="submissionFile" name="submissionFile"
                            @change="onFileChangeCreateSubmission" :disabled="isFileInputDisabled"
                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            required>
                        <p v-if="isFileInputDisabled">Submitted</p>

                    </div>

                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Add Submission
                    </button>

                </div>
            </div>
        </form>
    </div>
    <script src="./app.js"></script>
</body>

</html>