.scrollable-list {
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow-y: auto;
}  




#activities-container{
    border-color: #22A699;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}