<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../../LMS-DOJO-2/frontend/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

z
<header>
  <div class="flex border-b border-black h-4/5 ">
    <div class="flex w-3/5 p-4 items-center">
      <ul class="text-sm flex-grow ml-12 font-bold "><a href="#">
          <span class="border-b-4 border-orange-500">Dashboard</span></a>
      </ul>
      <ul class="text-sm flex-grow font-bold "><a href="#">Timetable</a></ul>
      <ul class="text-sm flex-grow font-bold "><a href="#">My Activities</a></ul>
     
      <ul class="text-sm flex-grow font-bold "><a href="#">Event Calendar</a></ul>
    </div>


    <div class="w-2/5 p-4 grid justify-items-end">
      <div class="mr-16 font-bold text-orange-500">
        Welcome back!
      </div>
      <div class="mr-16 font-bold text-3xl">
        Student Name
      </div>
    </div>
  </div>
</header>

<body>



  <div id="app">

    <div class="">

     
      <button @click="openthepopupthatdisplaystheresults">
        view results
      </button>

      <div v-if="theresultspopupisopen">
        <div v-for="(grade, index) in grades" :key="index">
          <p>Activity Name: {{ grade.activityName }}</p>
          <p>Grade: {{ grade.grade }}</p>
          <p>Feedback: {{ grade.feedback }}</p>
        </div>

      </div>
   


      <div v-for="activity in activities" :key="activity.id" class=" border-b mb-2 mt-4 rounded pl-8  bg-red-300 w-full" id="acivities-container">

        

        <div class="bg-white gap-4 ">
        
         



            <div class="mb-1">

              <div class="text-gray-900 font-bold text-xl m-4">{{ activity.activityName }}</div>
              <p class="text-gray-700 text-base m-4">{{ activity.activityDescription }}</p>
              <a :href="'add-Submission.html?Activity_ID='+  activity.Activity_ID"
                @click="storeActivityID(activity.Activity_ID)" class="text-red-600 m-4"> Click here to submit{{
                activity.submissionLink }}</a>

            </div>

           <div>
            {{activity.activityFile}}
           </div>



            <div class="flex items-center">
              <div class="text-sm m-4">
                <p class="text-gray-900 leading-none m-4">{{ activity.createdBy }}</p>
                <p class="text-gray-600 m-4">{{activity.dueDate}}</p>
              </div>
            </div>


           
            <div>
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                @click="downloadLearningMaterial(activity.activityFile)">Download</button>

            </div>
          


        </div>
      </div>


    </div>


  </div>






  <script src="../../app.js"></script>
</body>

</html>