<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>
    <div id="app" class="bg-gray-100 min-h-screen flex items-center justify-center">
        <form @submit.prevent="CreateQuiz" class="bg-white p-8 rounded-lg shadow-md">
            <div class="mb-4">
                <label for="quizName" class="block font-semibold">Quiz name:</label>
                <input type="text" id="quizName" v-model="quiz.quizName" class="border border-gray-300 rounded-md p-2 w-full" required>
            </div>
            <div v-for="(question, index) in quiz.SingleQuestion" :key="index" class="flex flex-row">
                <div class="mb-4">
                    <label :for="'question-' + index" class="block font-semibold">Question:</label>
                    <input :id="'question-' + index" type="text" v-model="question.question" class="border border-gray-300 rounded-md p-2 w-full" required>
                </div>
                
                <div class="mb-4 ml-4 space-x-2">
                    <label :for="'options-' + index" class="block font-semibold">Options (comma-separated):</label>
                    <input :id="'options-' + index" type="text" v-model="question.options" class="border border-gray-300 rounded-md p-2" required>
                </div>
                
                <div class="mb-4 ml-4">
                    <label :for="'correctAnswer-' + index" class="block font-semibold">Correct Answer:</label>
                    <input :id="'correctAnswer-' + index" type="number" v-model="question.correctAnswer" class="border border-gray-300 rounded-md p-2" required>
                </div>
            </div>
            <button type="button" @click="addQuestion" class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">Add Question</button>
            <button type="submit" class="bg-green-500 text-white font-semibold px-4 py-2 rounded-md hover:bg-green-600 transition duration-300">Submit</button>
        </form>
    </div>

    <script src="../app.js"></script>
</body>
</html>
