<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  

    <div id="app" class="flex flex-col items-center justify-center min-h-screen bg-white">
        <div class="w-full lg:w-5/6">
            <div class="bg-white shadow-md rounded my-6">

         <input v-model="searchQuery"  type="text" placeholder="Search subjects..."  class="border border-gray-300 rounded-md p-2 mb-4" />
   

 <br>
        <button class="mb-4"> <a href="./create-subject.html" class="bg-orange-500 hover:bg-white hover:text-black hover:border  border-orange-200  font-bold py-1 px-4 rounded">Create a subject</a></button>
        <table  class="w-full table-auto table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                 <th class="py-3 px-6 text-left">Subject Name</th>
                 <th class="py-3 px-6 text-left">Subject Code</th>
                 <th class="py-3 px-6 text-left"> </th>
                 <th class="py-3 px-6 text-left"> </th>
                </tr>

            </thead>

            <!-- before search bar <tbody>
                <tr v-for="subject in subjects" :key="subject._id"> 
                    <td>{{subject.subjectName}}</td>
                    <td>{{subject.subjectCode}}</td>
                    <td><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded" 
                    @click="openEditSubjectPopup(subject)"> Edit
                    </button></td>
                    <td><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                    @click="confirmDeleteSubject(subject._id)">
                        Delete
                    </button></td>
                </tr>
            </tbody>-->


            <tbody class="text-gray-600 text-sm font-light">
               <!---<tr v-for="subject in subjects" :key="subject._id"  class="border-b border-gray-200 hover:bg-gray-100"> -->
                    <tr v-for="subject in filteredSubjects " :key="subject._id"  class="border-b border-gray-200 hover:bg-gray-100"> 
                    <td class="py-3 px-6 text-left whitespace-nowrap">{{subject.subjectName}}</td>
                    <td class="py-3 px-6 text-left whitespace-nowrap">{{subject.subjectCode}}</td>


                    <td>
                        <button class="border border-white bg-white  hover:text-black hover:border-orange-500 text-black font-bold py-1 px-3 rounded flex items-center justify-center space-x-2" 
                                @click="openEditSubjectPopup(subject)">
                            <div class="w-4 transform hover:text-orange-500 hover:scale-110">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </div>
                            <span>Edit</span>
                        </button>
                    </td>
                    

                    <td><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded flex items-center justify-center"
                    @click="confirmDeleteSubject(subject._id)">
                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </div> Delete</button></td>
                </tr>
            </tbody>
        </table>


        <div v-if="showEditSubjectPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
            <div ref="popupContainer" class="bg-white max-w-lg mx-auto rounded shadow-lg p-6">
              <div class="popup-content">
                <h2>Edit subject</h2>
                <form action="" @submit.prevent="submitEditSubjectForm">
                    <div class="flex flex-col mb-4">
                        <label for="editsubjectName" class="text-gray-700">Activity Name:</label>
                        <input v-model="editedSubject.subjectName" type="text" id="editsubjectName" name="editsubjectName"
                          class="border border-gray-300 rounded-md p-2">
                      </div>

                      <div class="flex flex-col mb-4">
                        <label for="editsubjectCode" class="text-gray-700">Activity Code:</label>
                        <input v-model="editedSubject.subjectCode" type="text" id="editsubjectCode" name="editsubjectCode"
                          class="border border-gray-300 rounded-md p-2">
                      </div>


                      
            <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mb-2"
            @click="showEditSubjectPopup = false">Cancel
            </button>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save
              Changes
            </button>
            </div>

            </form>

            </div>
    



            </div>
          </div>
        </div>
    </div>
    
<script src="../app.js"></script>

 
</body>
</html>